.header {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a8ac7;

    .logo-container {
        margin-left: 2rem;
    }

    .options {
        margin-right: 2rem;

        .option {
            text-decoration: none;
            color: rgb(201, 199, 199);
            margin-left: 2rem;
            transition: color .3s;
            font-weight: 500;

            &.active {
                color: #fff;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}